<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jhh.rossystem.mapper.SysContainerMapper">

    <select id="selectCountByUserIds" resultType="com.jhh.rossystem.entity.SysUser">
        select user_id as id,count(*) as containerCount
        from ros_system_2.sys_container
        where user_id in
        <foreach collection="userIds" item="userId" open="(" separator="," close=")">
            #{userId}
        </foreach>
        group by user_id
    </select>

    <update id="updateStatus">
        update ros_system_2.sys_container set status = #{status} where id = #{id} limit 1
    </update>

    <update id="updateContainerId">
        update ros_system_2.sys_container set container_id = #{containerId} where id = #{id} limit 1
    </update>

</mapper>